<link href="https://unpkg.com/lightgallery@2.7.2/css/lightgallery.css" rel="stylesheet">
<style>
  .lg-fullscreen:after {
      content: "\e20c";
  }

  .lg-fullscreen-on .lg-fullscreen:after {
      content: "\e20d";
  }

  .lg-sub-html {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: left;
    padding: 1rem;
    margin: 0;
    width: 100%;
  }

  .lg-sub-html:hover {
    opacity: 0 !important;
  }

  .lg-sub-html p {
    font-size: 1.4rem;
    background: rgba(0,0,0,.65);
    padding: .3rem;
    display: table;
    margin-top: .5rem;
    border-radius: .2rem;
  }

  .lg-sub-html time {
    font-size: 1.2rem;
    background: rgba(0,0,0,.65);
    padding: .3rem;
    border-radius: .2rem;
  }
</style>
